@import './reset.scss';
@import './fonts.scss';


// Variable size
$size01: 30px;
$size02: 40px;
$size03: 50px;
// private classes
%container {
        max-width: 1640px;
        width: 100%;
}
// mixins
@mixin flex($first,$second) {
        display: $first;
        justify-content: $second;
}
@mixin fonts ($font) {
        font-family: $font;
}
// SCSS styles
    .container {
        @extend %container;
        margin: $size03 140px;
         header {
            @extend %container;
            @include flex(flex, space-between)
         }
             .navbar-ul li{
                display: inline-block;
                padding: 0 70px;
                @include fonts('Archy EDT')
             }
                 .navbar-ul a{
                     text-decoration: none;
                 }
         .first-row, .second-row {
            @include flex(flex,space-around)
         }
         .more{
            padding: 80px 0 $size02 415px;
            font-size: 24px;
            @include fonts('Archy EDT')
         }
         .rowp{
            @include fonts('Pierre Dingbats')
         }
        footer {
            @include flex(flex,space-around);
            max-width: 1940px;
            width: 100%;
            height: 207px;
            background: #333;
            margin-left: -150px;
            padding-right: 150px;
             p{
                 color: white;
                 font-size: 13px;
                 @include fonts('Archy EDT')
             }
             .contacts, .direction, .logos {
                 padding-top: $size03;
             }
        }
    }
    h2 {
        padding: 138px 0 67px 0;
        font-size: $size02;
        @include fonts('Acumin Pro')
    }
    h3 {
        padding: 138px 0 67px 0;
        font-size: $size02;
        @include fonts('Archy EDT')
    }
    h4 {
        padding: $size01 0 $size02 0;
        font-size: $size01;
        @include fonts('Archy EDT')
    }
    h5 {
        padding: 55px 715px;
        font-size: $size01;
        @include fonts('Archy EDT')
    }